# Ignore everything
*

# Keep .gitignore itself
!.gitignore

# Keep root files folder
!files/
!files/car/

# Explicitly keep only 30 image folders
!files/car/1/
!files/car/1/image/
!files/car/1/image/*

!files/car/2/
!files/car/2/image/
!files/car/2/image/*

!files/car/3/
!files/car/3/image/
!files/car/3/image/*

!files/car/4/
!files/car/4/image/
!files/car/4/image/*

!files/car/5/
!files/car/5/image/
!files/car/5/image/*

!files/car/6/
!files/car/6/image/
!files/car/6/image/*

!files/car/7/
!files/car/7/image/
!files/car/7/image/*

!files/car/8/
!files/car/8/image/
!files/car/8/image/*

!files/car/9/
!files/car/9/image/
!files/car/9/image/*

!files/car/10/
!files/car/10/image/
!files/car/10/image/*

!files/car/11/
!files/car/11/image/
!files/car/11/image/*

!files/car/12/
!files/car/12/image/
!files/car/12/image/*

!files/car/13/
!files/car/13/image/
!files/car/13/image/*

!files/car/14/
!files/car/14/image/
!files/car/14/image/*

!files/car/15/
!files/car/15/image/
!files/car/15/image/*

!files/car/16/
!files/car/16/image/
!files/car/16/image/*

!files/car/17/
!files/car/17/image/
!files/car/17/image/*

!files/car/18/
!files/car/18/image/
!files/car/18/image/*

!files/car/19/
!files/car/19/image/
!files/car/19/image/*

!files/car/20/
!files/car/20/image/
!files/car/20/image/*

!files/car/21/
!files/car/21/image/
!files/car/21/image/*

!files/car/22/
!files/car/22/image/
!files/car/22/image/*

!files/car/23/
!files/car/23/image/
!files/car/23/image/*

!files/car/24/
!files/car/24/image/
!files/car/24/image/*

!files/car/25/
!files/car/25/image/
!files/car/25/image/*

!files/car/26/
!files/car/26/image/
!files/car/26/image/*

!files/car/27/
!files/car/27/image/
!files/car/27/image/*

!files/car/28/
!files/car/28/image/
!files/car/28/image/*

!files/car/29/
!files/car/29/image/
!files/car/29/image/*

!files/car/30/
!files/car/30/image/
!files/car/30/image/*
